:root {
    --font-sans: ShermanSans, Verdana, sans-serif;
    --font-serif: ShermanSerif, Georgia, serif;
    --font-weight-normal: 500;
    --su-orange-primary-100: #F76900;
    --su-blue-primary-100: #000E54;
    --su-blue-primary-50: #8087AA
  }

/**

Header Styling

*/

.header-styling {
    background: linear-gradient(to right, #f0f5f9, #dff2ef, #bfe8e3)
}

.shifted-left-container {
    font-size: 24px !important;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #347586;
}

.nav-no-padded-containers {
    padding-left: 0px !important;
}

.navbar-expand-md .navbar-nav .nav-link{
    padding-left: 0px !important;
    padding-right: 1rem !important;
}


/**

CSS for section-content.php file
*/

.info-container-heading {
    font-family: var(--font-serif);
    color: #D74100;
}

.info-container-icons{
    width: 22px; 
    height: 30px; 
    color: var(--su-blue-primary-100);
}

.lead{
    font-size: 15px;
    color: var(--su-blue-primary-50) !important;
}

.info-container-details{
    font-size: 12px;
    color: var(--su-blue-primary-100);
}

.info-container-links{
    color: var(--su-blue-primary-100);
}

/**

CSS for footer.php file
*/

.about-header {
    font-weight: 500;
    font-family: var(--font-serif);
    color: #D74100;
}

.about-description {
    font-family: var(--font-sans);
    color: var(--su-blue-primary-100);
}

.footer-text {
    font-size: 14px;
}

/**
CSS for section-questions.php
*/

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #347586;
    margin: 1em 0;
    padding: 0;
}

.scrollable-column {
    max-height: 600px;
    overflow-y: scroll;
}

.questions-info{
    font-weight: 400;
}

.section-title{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #347586;
    font-weight: 500;
    font-size: 20px;
}

.btn-secondary {
    background-color: white;
    border-radius: 2px;
    border: 2px solid #a7804d;
    padding: 7px 30px;
    color: #84653d;
}
    
.btn-secondary:hover, .btn-secondary:focus {
      background-color: #ebe1d5;
      border-color: #84653d;
      color: #614a2d; 
}
    
.btn-secondary:active, .btn-secondary:active:hover, .btn-secondary:active:focus {
      background-color: #84653d;
      border-color: #84653d;
      color: white; 
}

.btn-primary {
    background-color: white;
    border-radius: 2px;
    border: 2px solid #a7804d;
    padding: 7px 30px;
    color: #84653d;
}
    
.btn-primary:hover, .btn-primary:focus {
      background-color: #ebe1d5;
      border-color: #84653d;
      color: #614a2d; 
}
    
.btn-primary:active, .btn-primary:active:hover, .btn-primary:active:focus {
      background-color: #84653d;
      border-color: #84653d;
      color: white; 
}

/**

Cards Grid Styles 
*/

.card {
    height: 200px !important;
}
.card-body {
    display: flex;
    flex-direction: column;
}
.card-title {
    font-size: 0.9rem;
    font-weight: bold;
}
.card-text {
    font-size: 0.8rem;
}

